=content_tag_for :div, user do
  %ul
    %li
      %strong Username:
      =h user.login
    %li
      %strong Alias:
      =h user.alias
    %li
      %strong Name:
      =h user.name
    %li
      %strong Email:
      =h user.email
    %li
      %strong Admin rights:
      -if user.admin
        'Yes'
      -else
        'No'
    %li
      %strong Is an active employy:
      -if user.active_employee
        'Yes'
      -else
        'No'

    = link_to 'Show', user
    = link_to 'Edit', edit_user_path(user)
    = link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete