%h2 Listing users
- if !@users.empty?
  .users
    = render :partial => "user", :collection => @users
  = will_paginate(@users)
- else
  %p There are no users to show yet.
= link_to 'New user', new_user_path