// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset.sass
// To configure blueprint, edit the partials/base.sass file.
@import partials/base.sass
// Import all the default blueprint modules so that we can access their mixins.
@import blueprint
// Import the non-default scaffolding module.
@import blueprint/modules/scaffolding.sass

@import compass/utilities.sass

// To generate css equivalent to the blueprint css but with your configuration applied, uncomment:
// +blueprint

//Recommended Blueprint configuration with scoping and semantic layout:
+blueprint-typography("body.bp")
+blueprint-scaffolding("body.bp")

body.bp
  +blueprint-utilities
  +blueprint-debug
  +blueprint-interaction
  +blueprint-form
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box
  // turn on and off debug grid
  //+showgrid
  
//form.bp
//  +blueprint-form

body#four-col
  .container
    +container
  #header, #footer
    +column(!blueprint_grid_columns)
  #sidebar
    !sidebar_columns = floor(!blueprint_grid_columns / 5 )
    +column(!sidebar_columns)
    +colborder
  #content
    !content_columns = ceil( 4 * !blueprint_grid_columns / 5 ) - 1
    // true means it's the last column in the row
    +column(!content_columns, true)

  #header, #footer, #sidebar
    a
      +hover-link

  #sidebar
    ul
      +no-bullets

  #header
    h1
      +replace-text("jrbh-logo-white-small.png")
      width: 209px
      height: 70px
      margin-top: 0.5em
