// styling for a general blueprint page
// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset.sass
// To configure blueprint, edit the partials/base.sass file.
@import partials/base.sass
// Import all the default blueprint modules so that we can access their mixins.
@import blueprint
// Import the non-default scaffolding module.
@import blueprint/modules/scaffolding.sass

@import compass/utilities.sass

=bp_general()
  +blueprint-typography
  +blueprint-scaffolding
  +blueprint-utilities
  +blueprint-debug
  +blueprint-interaction
  +blueprint-form

  .container
    +container

  #header, #footer, #main
    +column(!blueprint_grid_columns)

  #header, #footer, #sidebar
    a
      +hover-link

  #sidebar
    ul
      +no-bullets

  #header
    h1
      +replace-text("jrbh-logo-white-small.png")
      width: 209px
      height: 70px
      margin-top: 0.5em


//html
//  +showgrid   // show grid for debugging alignment

body.bp-general
  +bp_general

body.bp-general-with-sidebar
  +bp_general

  #sidebar
    !sidebar_columns = floor(!blueprint_grid_columns / 5 )
    +column(!sidebar_columns)
    +colborder
    a
      +hover-link
    ul
      +no-bullets

  #content
    !content_columns = ceil( 4 * !blueprint_grid_columns / 5 ) - 1
    // true means it's the last column in the row
    +column(!content_columns, true)
    
//body#users
//  special things for the users page..