%h2= "WorkPeriod \"#{@work_period.to_param}\""
=content_tag_for :div, @work_period do
  %ul
    %li
      %strong Start:
      =h @work_period.start
    %li
      %strong End:
      =h @work_period.end
    %li
      %strong User:
      =h @work_period.user.alias
    %li
      %strong Worklog task:
      =h @work_period.worklog_task.name
    %li
      %strong Comment:
      =h @work_period.comment
%ul
  %li= link_to 'Edit', edit_work_period_path(@work_period)
  %li= link_to 'Back', work_periods_path